:root{
    --trans: .3s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Raleway', sans-serif;
}
body{
    background-color: #e1f4f3;
}

/* header */

header{
    width: 90vw;
    height: 80vh;
    border-radius: 10px;
    margin: auto;
    background:url("/assets/img/eco.jpg")no-repeat center/cover;
    border: 5px solid black;
}

header nav h3{
    margin-left: 2rem;
    letter-spacing: 0.9rem;
    font-size: 3rem;
    font-weight: 1000;
    cursor: default;
}

/* nav */

header nav{
    width: 95%;
    height: 9%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    padding:3px 28px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    transition: .3s linear;
}

header nav ul li a:hover{
    color: gray;
}

header nav ul li:nth-child(3) a{
    font-weight: 1000;
}

header nav ul li:nth-child(5){
    background-color: black;
    border-radius: 1.3rem;
    padding:8px 1rem;
}

header nav ul li:nth-child(5) a{
    color:white ;
}

header nav ul li:nth-child(5):hover{
    background-color:gray ;
    cursor: pointer;
    transition: var(--trans);
}

.menu{
    display: none;
}

/* content-header */

header .cont-header{
    position: relative;
    width: 100%;
    height: 45%;
    cursor: default;
    top: 0;
}

header .cont-header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

header .cont-header-box{
    width: 50%;
    height: auto;
    margin-left: 50%;
    text-align: end;
}

header .cont-header-box-text{
    letter-spacing: 1px;
    margin: 1rem 2rem;
}

header .cont-header h1{
    margin: 2rem;
    font-size: 2.7rem;
    animation: bounce-in-top 1.5s both;
}

@keyframes bounce-in-top{
    0%{
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38%{
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55%{
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }
    72%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81%{
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95%{
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

header .cont-header h1::first-letter{
    font-size: 5rem;
    font-weight: 1000;
}

header .cont-header p{
    font-size: 1rem;
    font-weight: 600;
    animation: bounce-in-top 1.5s both;
}

/* main */

main h2{
    font-size: 3rem;
    text-align: center;
    animation: bounce-in-top 1.4s both;
    cursor: default;
    margin: 1rem;
}

main h2::first-letter{
    font-size: 5rem;
}

.universe{
    width: 95%;
    border: 4px solid black;
    box-shadow: 15px 10px 40px grey;
    margin: auto;
}

.list-image{
    margin: 1.5rem;
}

main ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.image{
    position: relative;
    cursor: pointer;
}

.min{
    width: 27vw;
    opacity: 0.9;
    border-radius: 10px;
}

.content{
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: var(--trans);
    border-radius: 10px;
}

.content:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: var(--trans);
}

.content p{
    color: white;
    margin: 1rem;
}


/* footer */

footer{
    width: 100%;
    height: auto;
    background:#fff617;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

footer h2{
    text-align: center;
    line-height: 40px;
    font-weight: 800;
    font-size: 2.1rem;
    padding: 2.2rem;
}

footer p{
    text-align: center;
    width: 350px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2.2rem;
}

footer .input{
    box-shadow: 0px 3px 20px -1px black;
    border-radius:20px;
}

footer .input input{
    padding: 12px 19px;
    border: none;
    outline: none;
    font-size: 13px ;
    border-radius:20px 0px 0px 20px;
}

footer .input button{
    padding: 13px 30px ;
    border: none ;
    outline: none;
    font-size: 12px ;
    border-radius:0px 20px 20px 0px ;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: var(--trans);
}

footer .input button:hover{
    background-color: gray;
}

footer ul{
    list-style: none;
    margin: 2.2rem;
    display: flex;
}

footer ul li{
    text-align: center;
    margin:2.2rem 30px 2.2rem ;
    font-weight: bold;
    font-size: 1.3rem;
}

footer ul li h6{
    font-size: 11px;
    font-weight: 600;
    max-width:120px;
    border-top: 1px solid black;
    line-height: 18px;
    margin: 0;
}