@media (max-width: 768px){

    /* header */
    header .cont-header h1{
        margin: 1rem;
        font-size: 1rem;
    }
    header .cont-header h1::first-letter{
        font-size: 2rem;
        font-weight: 1000;
    }
    header .cont-header p{
        font-size: 0.7rem;
        font-weight: 400;
    }

    /* travel-box */
    header .travel-box{
        height: 50%;
        width: 95%;
    }
    header .travel-box h4{
        font-size:1rem ;
        letter-spacing: 2px;
    }
    header .travel-box .cards .card{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 0px 1.1rem;
    }
    header .travel-box .cards .card img{
        width: 60%;
        height: 30%;
        border-radius: 10px;
    }
    header .travel-box .cards .card h3{
        font-size: 0.8rem;
    }
    header .travel-box .cards .card h3 img{
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
    header .travel-box .cards .card .btn-card h5{
        font-size: 0.4rem;
    }
    header .travel-box .cards .card .btn-card a{
        padding:5px 8px;
        font-size: 0.4rem;
    }
    /* footer */

    footer ul li {
        text-align: center;
        margin: 2.2rem 10px 2.2rem;
        font-weight: bold;
        font-size: 1.3rem;
    }
}

@media (max-width:990px){
    /* header */
    header .cont-header h1{
        margin: 0.7rem;
        font-size: 0.9rem;
    }
    header .cont-header h1::first-letter{
        font-size: 1.9rem;
    }
    header .cont-header p{
        font-size: 0.7rem;
        font-weight: 400;
    }
    /* travelbox */
    header .travel-box .cards .card h3{
        font-size: 0.9rem;
    }
    header .travel-box .cards .card h3 img{
        width: 30px;
        height: 30px;
    }
    header .travel-box .cards .card .btn-card h5{
        font-size: 0.7rem;
        cursor: default;
    }
    header .travel-box .cards .card .btn-card a{
        padding: 4px 9px;
        font-size: 0.5rem;
    }
}

@media (max-width:1240px){
    header .travel-box .cards .card h3{
        font-size: 0.8rem;
        margin: auto;
    }
    header nav ul{
        display: none;
    }
    .menu{
        display:flex;
    }
    header .travel-box .cards .card img{
        width: 100%;
        height: 60%;
        border-radius: 10px;
    }
    header .travel-box .cards .card .btn-card h5{
        font-size: 0.8rem;
        cursor: default;
    }
    header .travel-box .cards .card .btn-card a{
        padding: 6px 12px;
        font-size: 0.6rem;
    }
    .cont-main-box .video-main-box{
        height: 300px;
    }

    header .cont-header h1{
        margin: 1.5rem;
        font-size: 2rem;
    }
    header .cont-header h1::first-letter{
        font-size: 4rem;
        font-weight: 1000;
    }

    header .cont-header p{
        font-size: 0.8rem;
        font-weight: 400;
    }
}

@media (max-width:1310px){
   
    /* header */
    header .cont-header-box{
        margin-left: 25%;
    }
    header .cont-header-box{
        width: 75%;
    }
}

